@import url('https://fonts.google.com/specimen/Archivo');

@media (min-width: 1200px) {
  .container{
    margin-left: 15vh;
  }

  .corpo1{
    background: url(grafismo_ciano.svg) no-repeat right center fixed;
    background-size:cover;
    background-color: #143c85;
    font-family: 'Archivo', sans-serif;
    color: white;
    font-family: 'Archivo', sans-serif;
  }

  .corpo2{
    background: url(grafismo_marinho.svg) no-repeat right center fixed;
    background-size:cover;
    background-color: #88e2f2;
    font-family: 'Archivo', sans-serif;
    color: #143c85;
    font-family: 'Archivo', sans-serif;
  }


  .titulo{
    margin-top: 7vh;
    text-align: left;
  }

  img{
    margin-bottom: 200px;
    margin-top: -10px;
    width: 470px;
    margin-left: -20px;
  }

  p{
    font-size: large;
  }
  
}

@media (min-width: 1200px) and (max-height: 865px) {
  .container{
    margin-left: 15vh;
  }

  .corpo1{
    background: url(grafismo_ciano.svg) no-repeat right bottom fixed;
    // background-size:cover;
    background-color: #143c85;
    font-family: 'Archivo', sans-serif;
    color: white;
    font-family: 'Archivo', sans-serif;
  }

  .corpo2{
    background: url(grafismo_marinho.svg) no-repeat right bottom fixed;
    // background-size:cover;
    background-color: #88e2f2;
    font-family: 'Archivo', sans-serif;
    color: #143c85;
    font-family: 'Archivo', sans-serif;
  }


  .titulo{
    margin-top: 7vh;
    text-align: left;
  }

  img{
    margin-bottom: 200px;
    margin-top: -10px;
    width: 470px;
    margin-left: -20px;
  }

  p{
    font-size: large;
  }
  
}

@media (max-width: 1199px){
  .corpo1{
    background: url(grafismo_cel_ciano.svg) no-repeat bottom fixed;
    background-size:  160vw;
    background-position-y: 260px;
    background-color: #143c85;
    font-family: 'Archivo', sans-serif;
    color: white;
    font-family: 'Archivo', sans-serif;
  }

  .corpo2{
    background: url(grafismo_cel_marinho.svg) no-repeat bottom fixed;
    background-size:  160vw;
    background-position-y: 260px;
    background-color: #88e2f2;
    font-family: 'Archivo', sans-serif;
    color: #143c85;
    font-family: 'Archivo', sans-serif;
  }

  img{
    width: 300px;
    margin-left: -15px;
    margin-bottom: 200px;
    margin-top: -10px;
  }

  .titulo{
    margin-top: 3vh;
    text-align: left;
  }

  p{
    font-size: larger;
  }

}

@media (max-width: 1199px) and (min-height: 1000px){
  .corpo1{
    background: url(grafismo_cel_ciano.svg) no-repeat bottom fixed;
    background-size:  160vw;
    // background-position-y: 260px;
    background-color: #143c85;
    font-family: 'Archivo', sans-serif;
    color: white;
    font-family: 'Archivo', sans-serif;
  }

  .corpo2{
    background: url(grafismo_cel_marinho.svg) no-repeat bottom fixed;
    background-size:  160vw;
    // background-position-y: 260px;
    background-color: #88e2f2;
    font-family: 'Archivo', sans-serif;
    color: #143c85;
    font-family: 'Archivo', sans-serif;
  }

  img{
    width: 300px;
    margin-left: -15px;
    margin-bottom: 200px;
    margin-top: -10px;
  }

  .titulo{
    margin-top: 3vh;
    text-align: left;
  }

  p{
    font-size: larger;
  }

}

@media (max-width: 750px){
  .corpo1{
    background: url(grafismo_cel_ciano.svg) no-repeat bottom fixed;
    //background-size:cover;
    background-color: #143c85;
    font-family: 'Archivo', sans-serif;
    color: white;
    font-family: 'Archivo', sans-serif;
  }

  .corpo2{
    background: url(grafismo_cel_marinho.svg) no-repeat bottom fixed;
    // background-size:cover;
    background-color: #88e2f2;
    font-family: 'Archivo', sans-serif;
    color: #143c85;
    font-family: 'Archivo', sans-serif;
  }

  img{
    width: 300px;
    margin-left: -15px;
    margin-bottom: 200px;
    margin-top: -10px;
  }

  .titulo{
    margin-top: 3vh;
    text-align: left;
  }

  p{
    font-size: small;
  }
  

}


