@import url('https://fonts.google.com/specimen/Archivo');

.corpo1{
  background: url(grafismo_ciano.svg) no-repeat right center fixed;
  background-size:cover;
  background-color: #143c85;
  font-family: 'Archivo', sans-serif;
  color: white;
  font-family: 'Archivo', sans-serif;
}

// .grafismo{
//   min-height: 100vh;
//   //margin-left: 100px;
//   background-image: url(grafismo_ciano.svg);
// }

.titulo{
  margin-top: 10vh;
  text-align: left;
}