<body class="corpo1">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12 titulo">
          <h3>
           <b><i class="fas fa-exclamation-circle"></i> Site em manutenção</b>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <p>
              O LIOc é um laboratório de pesquisa e desenvolvimento em diversas áreas, como 
            instrumentação oceanográfica, acústica submarina, análise e processamento de dados ambientais, entre outros.
            Tendo sido fundado em dezembro de 1990, o laboratório possui infraestrutura e equipe qualificada para contribuir
            com atividades experimentais da Área de Engenharia Costeira e Oceanográca (AECO).
          </p>
          <p>
              Atualmente, devido à pandemia de COVID-19, o laboratório funciona de maneira não presencial.
            Para entrar em contato, favor enviar um email para <b>lioc@oceanica.ufrj.br</b>
          </p>         
          <%= image_tag ('logo_clara.svg') %>
        </div>
      </div>
  </div>
</body>