<div class="container">
  <div class="row">
    <div class="col-12 titulo">
      <%= image_tag ('logo.svg')  %>
      <h1> Em Breve</h1>
      <h4>Site em construção</h4>
    </div>
  </div>
  <br>
  <div class="row info">
    <p>
          O LIOc é um laboratório de pesquisa e desenvolvimento em diversas áreas, como 
        instrumentação oceanográfica, acústica submarina, análise e processamento de dados ambientais, entre outros.
        Tendo sido fundado em dezembro de 1990, o laboratório possui infraestrutura e equipe qualificada para contribuir
        com atividades experimentais da Área de Engenharia Costeira e Oceanográca (AECO). 
    </p>
    <p>
          Atualmente, devido à pandemia de COVID-19, o laboratório funciona de maneira não presencial.
        Para entrar em contato, favor enviar um email para lioc@email.com
    </p>
  </div>
</div>

