<div class="container">
  <div class="row">
    <div class="col-12 titulo">
      <img src="https://play-lh.googleusercontent.com/-6BW1qUVxhRRwRqjtrGpcRT0DXTvx8KyaQwPPKWAzT4s5IplEKlgGjlj2yUS7m11jUs=s180-rw" alt="logo do laboratório">   
      <h1> Site em Construção.</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 info">
      <h3>Quem Somos?</h3>
      <p>
        O LIOC - Laboratório de instrumentação Oceanográfica, é um laboratório que fica localizado na Ilha do fundão, na UFRJ. Trabalhamos com várias coisas super interessantes!
      </p>
    </div>
      <div class="col-md-6 info">
        <h3>Contato:</h3>
        <p>
          Devido à pandemia de COVID-19, o laboratório está momentâneamente funcionando no home-office, portanto voce não nos encontrará nas nossas dependências.
        </p>
        <p>
          Telefone: (21) 13251-345151
          <br>
          Email: lioc@lioc.com
        </p>
      </div>
  </div>
</div>

